@page
@model JN_Gamebase.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div>
    <h2>About Us</h2>

    <textarea>About Us</textarea>
</div>

<div>
    <h2>Contact Us</h2>

    <textarea>Contact Us</textarea>
</div>

