@page
@model JN_Gamebase.Pages.SignInModel
@{
    ViewData["Title"] = "SignIn";
}

    <div class="sign-body">
        <h2 class="in-title">Sign In</h2>

        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Password" />

        <button type="submit" class="button-in">Submit</button>

        <h2 class="up-title">Sign Up</h2>

        <input type="text" placeholder="Email" />
        <input type="text" placeholder="Username" />
        <input type="text" placeholder="Password" />
        <input type="text" placeholder="Confirm Password" />

        <button type="submit" class="button-up">Submit</button>

    </div>


